/*----------------------------------Body------------------------------------*/
body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Archivo Black';
  font-family: 'Michroma';
  font-family: 'Muli';
}


/*----------------------------------Top Section------------------------------------*/
.wraper{
  height: 800px;
  margin-bottom: 50px;
}
h1{
  font-size: 50px;
}
span {
  color: rgb(228, 0, 133);
  font-size: 40px;
}
h2{
  font-size: 30px;
}
p{
  font-size: 20px;
  text-align: justify;
  color: rgb(63, 62, 62);
}
.button{
  text-decoration: none;
  background-color: rgb(175, 1, 102);
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.button:hover{
  box-shadow: 0 0 10px rgb(175, 1, 102);
}

.half-width{
  width: 40%;
  float: left;
  padding-left: 200px;
  padding-top: 100px;
}
.top-img img{
  width: 45%;
  float: left;
}





/*----------------------------------Biography Section------------------------------------*/
.second-img img{
  width: 35%;
  float: left;
  margin-left: 7%;
}
.half-width1{
  width: 40%;
  padding-left: 20px;
  padding-top: 150px;
  float: left;
  margin-left: 5%;
}



/*----------------------------------Latest Work Section------------------------------------*/


.lw{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lw-img{
  width: 100%;
  margin-top: 5%;
}
.work1, .work2, .work3{
  width: 25%;
  box-shadow: 0 0 15px gray;
  transition: transform 1s ease;
}
.lw-img :first-child{
  margin-left: 7.2%;
  margin-right: 5%;
}
.lw-img :last-child{
  margin-left: 5%;
}
.work1:hover {
  transform: scale(1.1);
}
.work2:hover {
  transform: scale(1.1);
}
.work3:hover {
  transform: scale(1.1);
}




/*----------------------------------Footer Section------------------------------------*/
.footer{
  text-align: center;
}
.statement p{
  width: 40%;
  text-align: center;
  margin-left: 30%;
}
.half-width2 h2{
  margin-bottom: 50px;
  margin-top: 100px;
}
.half-width2 h3{
  font-size: 25px;
}

.half-width2 h4{
  color: rgb(63, 62, 62);

}

.link{
  width: 40%;
  height: 30%;
  text-align: center;
  background-image: linear-gradient(hotpink, rgb(240, 20, 166));
  color: white;
  font-size: 15px;
  margin-left: 30.2%;
  border-radius: 20px;
  margin-top: 50px;
}
.link h4{
  padding: 14%;
}
.link a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}


/*--------------------------Progress Bar Section-------------------------------*/

.container {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 10%;
}

.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 5px;
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
  pointer-events: none;
  z-index: 1;
}

.parcent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.parcent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.parcent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .parcent .number h2 {
  color: #fff;
  font-size: 60px;
}

.parcent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .parcent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px,5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: 2s;
}

.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #ff04f7;
}

.card:nth-child(4) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: #00d9ff;
}


/*----------------------------------Social Media Section------------------------------------*/
ul{
  position: relative;
  display: flex;
  margin-left: 31.5%;
  padding-top: 10%;
  
}

ul li {
  list-style-type: none;
  width: 100px;
}

ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 60%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul li a img {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 6px);
  font-size: 24px;
  color: #262626;
  transition: .5s;
}



.footer{
  text-align: center;
  margin-top: 5%;
}
